*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    font-size: 65px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header-bg{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
}
.header-content{
    text-align: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}
.header-middle{
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 40px;
}
.header-button{
    text-decoration: none;
    color: white;
    padding: 16px 20px;
    background-color: #FF5959;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}